@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

header {
  display: flex;
  flex-direction: column;
}

.redtopbar {
  background-color: #ff0500;
}

img.logo {
  width: 35vw;
  margin-left: 8vw;
}

.humbager_icon {
  width: 30px;
  height: 30px;
}

.nav-text,
.news-heading,
.big-title {
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
}

.date {
  color: white;
}

.cat-text,
.editions,
.big-title {
  font-weight: bold;
}

button.login {
  background-color: #ff0500;
  border: none;
  color: white;
  font-weight: bold;
}

button.login-icon {
  background-color: #ff0500;
  border: none;
}

img.login-icon {
  width: 35px;
}

button.subscribe {
  display: inline;
  background-color: yellow;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

span.subButton {
  padding-left: 5px;
  padding-right: 5px;
}

.categories,
.topstories,
.top-foot {
  background-color: white;
  padding: 10px;
  border-bottom: 2px solid #999;
}

a.category {
  color: black;
  margin: 0 1vw 0 1vw;
  text-decoration: none;
  padding: 10px;
}

a.category:hover {
  color: #ff0500;
}

.mid-cat {
  border-left: 1px solid;
  border-color: #807f84;
}

form.searchForm {
  display: inline;
}

input.search {
  display: inline;
  width: 7vw;
  height: 35px;
}

button.searchButton {
  display: inline;
  border: none;
  background-color: white;
  width: 50px;
  height: 50px;
}

.searchIcon {
  width: 40px;
  padding-right: 10px;
}

.trending {
  font-weight: bold;
  padding: 5px;
}

a.topstory {
  color: #807f84;
  text-decoration: none;
  margin: 0 1.5vw 0 1.5vw;
}

a.topstory:hover {
  color: #ff0500;
}

.news-culture {
  margin-bottom: 10px;
}

.news-culture a {
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.small-atcl h2,
.news-turn-img span {
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: #171718;
}

.news-turn-img img {
  width: 100%;
  height: 200px;
}

.top-news-section {
  padding-left: 0;
  padding-right: 20px;
}

.debate-news {
  padding: 10px;
}

.debate-news img {
  width: 63px;
  height: 63px;
}

.debate-news {
  border-top: solid #929096;
  border-bottom: solid #929096;
}

.debate-1 {
  margin: 10px 10px 20px 10px;
}

.debate-2 {
  margin: 10px 10px 20px 10px;
}

.debate-link h2 {
  font-size: 20px;
  margin-left: 3px;
}

.debate-link span {
  font-size: 14px;
  margin-left: 3px;
  color: #6c6b6e;
}

.debate-news a,
.debate-news span {
  text-decoration: none;
  color: #171718;
}

.debate-lnk h2 {
  font-size: 20px;
}

.debate-news h2:hover {
  text-decoration: underline;
  text-decoration-color: orangered;
}

.opinion {
  padding: 10px;
}

.opinion-1 {
  margin: 10px 10px 20px 10px;
}

.opinion-news {
  border-bottom: #929096;
}

.opinion-news img {
  width: 63px;
  height: 63px;
}

.opinion-link {
  padding-left: 10px;
}

.opinion-link h2 {
  font-size: 20px;
}

.opinion-news a,
.opinion-news span {
  text-decoration: none;
  color: #171718;
}

.opinion-news h2:hover {
  text-decoration: underline;
  text-decoration-color: orangered;
}

img.foot-logo {
  width: 250px;
}

.cpyrtinfo {
  color: #807f84;
  font-size: 12px;
  margin-left: 5px;
}

img.social-icon {
  width: 25px;
  height: 25px;
  margin: 0 2px 0 2px;
}

p.editions {
  color: #807f84;
}

a.footer-link {
  color: #807f84;
  margin: 0 5px 0 5px;
  text-decoration: none;
  padding: 0 10px 0 10px;
}

a.footer-link:hover {
  color: black;
}

.last-links {
  border-right: 1px solid;
  border-color: #807f84;
}

.bottom-foot {
  font-size: 14px;
}

.colheading {
  font-weight: bold;
  color: #999;
  margin-top: 15px;
}

img.main-story-thumbnail {
  width: 100%;
  height: 35vh;
}

img.top-story {
  width: 100%;
  height: 45vh;
}

h2.big-title {
  font-size: 24px;
}

a.article-link {
  color: black;
  text-decoration: none;
}

a.article-link:hover {
  text-decoration: underline;
  text-decoration-color: orangered;
}

.feature,
.insight {
  margin: 25px 0 25px 0;
}

p.preview {
  font-size: 15px;
}

.insight-text {
  border: 1px solid #999;
  padding: 12px;
}

.top-foot,
.copyright,
.bottom-foot {
  overflow: hidden;
}

.more-news,
.latest-news {
  margin-top: 5vh;
}

.small-atcl-img {
  width: 100px;
  height: 100px;
  margin-right: 5px;
  float: left;
  object-fit: cover;
}

.small-atcl {
  height: 120px;
  border-top: 1px solid #999;
  margin-top: 5px;
  padding-top: 10px;
}

.small-atcl p {
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  img.logo {
    margin-left: 0;
  }

  .nav-text {
    font-size: 0.8rem;
  }

  .humbager_icon {
    margin-left: 5px;
  }

  .mid-cat {
    border: none;
  }

  .social {
    margin-left: 7vw;
  }
}
